h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@font-face {
  font-family: fa-webfont;
  src:  url("fonts/fontawesom.otf") format('otf'),
        url("fonts/fontawesom-webfont.woff") format('woff'),
        url("fonts/fontawesom-webfont.svg") format('svg'),
        url("fonts/fontawesom-webfont.ttf") format('ttf'),
        url("fonts/fontawesom-webfont.woff2") format('woff2'),
        url("fonts/fontawesom-webfont.eot") format('eot');
}

* {
  font-family: sans-serif;
}

@media only screen and (max-width: 601px) {
  h1 {
    font-size: calc(2.5rem - 20%);
  }
  
  h2 {
    font-size: calc(2rem - 35%)
  }
  
  h3 {
    font-size: calc(1.5rem - 20%);
  }
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
  h1 {
    font-size: calc(2.5rem - 12%);
  }
  
  h2 {
    font-size: calc(2rem - 20%);
  }
  
  h3 {
    font-size: calc(1.5rem - 12%);
  }
}